{% load django_htmx %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Easy Workshift Organiser{% endblock %}</title>

  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  {% block head %}{% endblock %}
</head>
<body>

  <header>
    <h1>RotaFlow</h1>
    {% block header %}{% endblock %}
  </header>

  <div class="layout">
    <aside class="sidebar">
      {% block sidebar %}{% endblock %}
    </aside>

    <main class="main">
      {% block main %}{% endblock %}
    </main>
  </div>

  <footer>
    RotaFlow &copy;2026 by
    <a href="https://github.com/LegradiK" target="_blank" rel="noopener noreferrer">LegradiK</a>
    All rights reserved.
  </footer>

  {% block scripts %}{% endblock %}

</body>
</html>
