<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Easy Workshift Organiser{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block head %}{% endblock %}
</head>
<body>

    {% block content %}{% endblock %}

    <footer>
        Easy Workshift Organiser @2026 by
        <a href="https://github.com/LegradiK" target="_blank" rel="noopener noreferrer">LegradiK</a>
        All rights reserved.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>

    {% block scripts %}{% endblock %}

</body>
</html>